{% extends 'layout.html' %} {% block title %} Agregar secretaria {% endblock %}

{% block body %}
<div class="row">

  <div class="col-md-12">
    {% with messages = get_flashed_messages(with_categories = true ) %} {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
  </div>
</div>
{% endfor %} {% endif %}{% endwith %}
<h1> Nuevo secretaria </h1>

<form action = '/agregarSecretaria' method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombreSecretaria"> Nombre </label>
      <input type="text" class="form-control" name="nombreSecretaria" id="nombreSecretaria" placeholder="Nombre" required="required">
    </div>
    <div class="form-group col-md-6">
      <label for="apellidoSecretaria"> Apellido </label>
      <input type="text" class="form-control" name="apellidoSecretaria" id="apellidoSecretaria" placeholder="Apellido" required="required">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="sexoSecretaria "> Sexo </label>
      <select id="sexoSecretaria" name="sexoSecretaria" class="form-control" required="required">
        <option selected> Elija uno </option>
        <option value="1"> Femenino </option>
        <option value="0"> Masculino </option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="tipoDocSecretaria"> Tipo Documento </label>
      <select id="tipoDocSecretaria" name="tipoDocSecretaria" class="form-control" required="required">
        {% for tipoDocSecretaria in tiposDocSecretaria %}
          <option value="{{tipoDocSecretaria.0}}"> {{tipoDocSecretaria.1}}  </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="numeroDocSecretaria"> Número </label>
      <input type="text" class="form-control" name="numeroDocSecretaria" id="numeroDocSecretaria" placeholder="N° de Documento" required="required">
    </div>
    <div class="form-group col-md-4">
      <label for="fechaNacSecretaria"> Fecha de Nacimiento </label>        
      <input type="date" class="form-control" name="fechaNacSecretaria"  id="fechaNacSecretaria">      
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="paisSecretaria"> Pais </label>
      <select id="paisPaciente" name="paisSecretaria" class="form-control">
        <option value="">Elija pais</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="provinciaSecretaria"> Provincia </label>
      <select id="provinciaPaciente" name="provinciaSecretaria" class="form-control">
        <option value="">Elija provincia</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="localidadSecretaria"> Localidad </label>
      <select id="localidadPaciente" name="localidadSecretaria" class="form-control">
        <option value="">Elija localidad</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="domicilioSecretaria"> Domicilio </label>
      <input type="text" class="form-control" name="domicilioSecretaria" id="domicilioSecretaria" placeholder="Domicilio" required="required">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="nacionalidadSecretaria"> Nacionalidad </label>
      <select id="nacionalidadSecretaria" name="nacionalidadSecretaria" class="form-control" required="required">
        {% for nacionalidadSecretaria in nacionalidadSecretaria %}
          <option value="{{nacionalidadSecretaria.0}}"> {{nacionalidadSecretaria.1}}  </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-2">
      <label>Teléfono </label>
      <input type="tel" name="telefonoSecretaria" placeholder="N° de teléfono" class="form-control" maxlength="10" required="required">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="usuarioSecretaria"> Nombre de usuario </label>
      <input type="text" class="form-control" name="usuarioSecretaria" id="usuarioSecretaria" placeholder="Nombre de usuario" required="required">
    </div>
    <div class="form-group col-md-3">
      <label for="passwordSecretaria"> Password </label>
      <input type="password" class="form-control" name="passwordSecretaria" id="passwordSecretaria" placeholder="password" required="required">
    </div>
    <div class="form-group col-md-3">
      <label for="password2Secretaria"> Confirmar Password </label>
      <input type="password" class="form-control" name="password2Secretaria" id="password2Secretaria" placeholder="password" required="required">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="observacionSecretaria"> Observaciones  </label>
    <textarea class="form-control" id="observacionSecretaria" name="observacionSecretaria" maxlength="99" rows="3"></textarea>
    </div> 
  </div>
  <button type="submit" class="btn btn-primary"> Guardar </button>
</form>

{% endblock %}