{% extends 'layout.html' %}
{% block body %}

{% with messages = get_flashed_messages(with_categories = true ) %} {% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %} {% endif %}{% endwith %}

<div class="container m-auto text-center">
    <div class="row text-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"></div>

            <a href="atras" class="btn btn-success">Atras <i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 text-center"></div>

      
        <div class="text-center">
            <h4 class="text-center"> Aqui puede ver su historial de turnos, {{nombrepaciente}}</h4>
            <hr>
            <table class="table-sm table-striped w-100">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Hora</th>
                        <th>Profesional</th>
                        <th>Especialidad</th>
                    </tr>
                </thead>
                <tbody>
                    {%for turnos in result %}
                    <tr>
                        <td>{{turnos.3.strftime('%d-%m-%y')}}</td>
                        <td>{{turnos.4}}</td>
                        <td>{{turnos.2}}</td>
                        <td>{{turnos.6}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    <div class="col-xs-none col-sm-none col-md-none col-lg-3"></div>
    </div>
</div>


{% endblock %}