{% extends 'layout.html' %} {% block title %} Gestionar Secretarias {% endblock %}
{% block body %}
{% if session['idTusu'] ==1 or session['idTusu'] ==3 %}


<div class="containter m-auto text-center">
    <h2>Gestión de Personal de Administración</h2>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <input class="form-control w-100 mb-2" type="text" name="BuscarPaciente" id="FiltrarSecre" placeholder="Puede ingresar cualquier parametro para acceder su busqueda">

        <table class="table table-sm table-striped" id="tablaSecre">
            <thead>
                <tr>
                    <th>Apellido, Nombre</th>
                    <th>Dni</th>
                    <th>Domicilio</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                {% for Secre in listaSecretaria %}
                <tr>
                    <td>{{Secre.1}}</td>
                    <td>{{Secre.2}}</td>
                    <td>{{Secre.4}}</td>
                    <td>{{Secre.3}}</td>
                    <td class="estado{{Secre.5}}">{{Secre.5}}</td>
                    <td><a class="btn btn-info verPerfil" href="perfilSecre{{Secre.0}}">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<script>

$(".estado0").html('Activo')
$(".estado1").html('Inactivo')

/* $(".verPerfil").click(function(){
    idSecre=$(this).attr("value")
    console.log(idSecre,estado)
}) */




</script>




<script>
    //BUSQUEDA DE PACIENTE---->TABLA DINAMICA
    //Para que la secretaria verifique un turno de un paciente sin necesidad de acceder al turnero
    $(document).ready(function () {
        $("#FiltrarSecre").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tablaSecre tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


{% endif %}
{% endblock %}