{% extends 'layout.html' %} {% block title %} Perfil Administracion {% endblock %}
{% block body %}
{% if session['idTusu'] ==1 or session['idTusu'] ==3 %}
{% with messages = get_flashed_messages(with_categories = true ) %} {% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
</div>
</div>
{% endfor %} {% endif %}{% endwith %}

<div class="row w-100 m-2">
    <!-- Columna Formulario-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 m-auto">
        <div class="row ml-1 justify-content-between">
            <h4>Ficha Paciente</h4>
            <div class="" id="BtnEditSave">
                <button class="btn btn-info" id="btnEditar"> Editar Datos Personales</button>
                <button class="btn btn-success d-none" id="btnGuardar"> Guardar Datos Personales </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="nombreSecretaria"> Apellido, Nombre </label>
                <input type="text" class="form-control cambios" name="nombreSecretaria" id="nombreSecretaria"
                    placeholder="Nombre" required="required" disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="tipoDocPaciente"> Tipo Documento </label>
                <select id="tipoDocPaciente" name="tipoDocPaciente" class="form-control cambios" required="required"
                    disabled>
                    {% for tipoDocProfesional in tiposDocProfesional %}
                    <option value="{{tipoDocProfesional.0}}"> {{tipoDocProfesional.1}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="numeroDocSecretaria"> Número </label>
                <input type="text" class="form-control cambios" name="numeroDocSecretaria" id="numeroDocSecretaria"
                    placeholder="N° de Documento" required="required" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="telefonoSecretaria">Teléfono </label>
                <input type="tel" name="telefonoSecretaria" placeholder="N° de teléfono" class="form-control cambios"
                    id="telefonoSecretaria" maxlength="10" required="required" disabled>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="paisProfesional"> Pais </label>
                <select id="paisProfesional" name="paisProfesional" class="form-control cambios" disabled>
                    {% for pais in listaPaisProvLoc %}
                    {% if pais.0 == LocProvPais.5 %}

                    <option value="{{LocProvPais.4}}">{{LocProvPais.5}}</option>

                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="provinciaProfesional"> Provincia </label>
                <select id="provinciaProfesional" name="provinciaProfesional" class="form-control cambios" disabled>
                    {% for provincia in listaPaisProvLoc %}
                    {% if provincia.3 == LocProvPais.2 %}
                    <option value="{{LocProvPais.2}}">{{LocProvPais.3}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="localidadProfesional"> Localidad </label>
                <select id="localidadProfesional" name="localidadProfesional" class="form-control cambios" disabled>
                    <option value="{{perfilSecretaria.10}}">{{perfilSecretaria.8}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="domicilioSecretaria"> Domicilio </label>
                <input type="text" class="form-control cambios" name="domicilioSecretaria" id="domicilioSecretaria"
                    placeholder="Domicilio" required="required" disabled>
            </div>
        </div>
        <hr>
        <div class="form-row d-flex align-items-end">
            <div class="form-group col-md-4">
                <label for="fechaNacSecre"> Fecha de Nacimiento </label>
                <input type="date" class="form-control cambios" name="fechaNacSecre" id="fechaNacSecre" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="estadoSecre">Estado</label>
                <select name="estadoSecre" id="estadoSecre" class="form-control cambios" disabled>

                </select>
            </div>
        </div>
        </form>
    </div>
</div>

<!-- Modal de Alerta -->
<div class="modal fade" id="mensajedealerta" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true" data-backdrop="static">
    <div class="mensajecolor modal-dialog modal-sm " role="document">
        <div class="modal-content bg-success">
            <div class="modal-body text-center">
                <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 50px;color: white;"></i>
                <h3 id="confirmacionrecarga" style="color: white;"></h3>
                <h5 style="color: white;">Espere mientras se recarga su pagina</h5>
            </div>
        </div>
    </div>
</div>

<!--Modal Confirma Cambios Datos Personales-->
<div class="modal fade" id="modalCambiosPersonales" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usted ha realizado cambios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Desea Confirmar Los Cambios?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmacambios">Confirmar</button>
            </div>
        </div>
    </div>
</div>


<script>
    $("#nombreSecretaria").attr({ "placeholder": "{{perfilSecretaria.1}}", "value": "{{perfilSecretaria.1}}" })
    $("#numeroDocSecretaria").attr({ "placeholder": "{{perfilSecretaria.4}}", "value": "{{perfilSecretaria.4}}" })
    $("#domicilioSecretaria").attr({ "placeholder": "{{perfilSecretaria.7}}", "value": "{{perfilSecretaria.7}}" })
    $("#telefonoSecretaria").attr({ "placeholder": "{{perfilSecretaria.6}}", "value": "{{perfilSecretaria.6}}" })
    $("#fechaNacSecre").attr({ "placeholder": "{{perfilSecretaria.5}}", "value": "{{perfilSecretaria.5}}" })
    if ("{{perfilSecretaria.9}}" === '0') {
        $("#estadoSecre").html('<option value="0"> Activo </option><option value="1"> Desactivo </option>')
    } else {
        $("#estadoSecre").html('<option value="1"> Desactivo </option><option value="0"> Activo </option>')
    }

    $("#btnEditar").click(function () {
        $(".cambios").removeAttr('disabled')
    })
    //CUALQUIER CAMBIO EN EL FORMULARIO DE DATOS PESONALES, ACTIVA EL BOTON GUARDAR DATOS PERSONALES
    $(".cambios").change(function () {
        $("#btnGuardar").removeClass("d-none").addClass("d-block");
        $("#btnEditar").addClass("d-none")
    });

    //
    $("#btnGuardar").click(function () {
        idSec = '{{idSec}}'
        $("#modalCambiosPersonales").modal()
        $("#confirmacambios").click(function () {
            NomPac = $("#nombreSecretaria").val()
            NumDoc = $("#numeroDocSecretaria").val()
            TelPac = $("#telefonoSecretaria").val()
            FecNac = $("#fechaNacSecre").val()
            EstSec = $("#estadoSecre").val()
            PaisPac = $("#paisProfesional").val()
            ProvPac = $("#provinciaProfesional").val()
            LocPac = $("#localidadProfesional").val()
            DomPac = $("#domicilioSecretaria").val()
            $.ajax({
                url: 'ModDatosSecre',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify([{
                    'IdSecretaria': idSec,
                    "NomPac": NomPac,
                    "NumDoc": NumDoc,
                    "TelPac": TelPac,
                    "FecNac": FecNac,
                    "LocPac": LocPac,
                    "DomPac": DomPac,
                    "Estado": EstSec,
                }]),
                success: function (data) {
                    if (data.Mensaje == 'Correcto') {
                        $("#modalCambiosPersonales").modal('toggle')
                        $("#confirmacionrecarga").html("Se modificaron correctamente los datos del Paciente")
                        $("#mensajedealerta").modal()
                        setTimeout(location.reload(true), 2000)
                    }
                }
            });
        })
    })




</script>














{% endif %}
{% endblock %}