body{
    width: auto;
    background-image: url("https://wallpaperstream.com/wallpapers/full/white/Grid-Hexagonal-White-HD-Wallpaper.jpg");
    background-size: auto;    
}
.card{
    background-color:rgba(0,0,0,0.05);
    box-shadow: 2px 2px 2px 2px rgba(99, 93, 93,0.3);
    border-radius: 7px;
}




#pres{
    size: multiple;
}
